.table {
  border-spacing: 12px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.table, th, td { 
  padding: 10px;
  border: solid 1px gray;
}

.planets-header {
  text-align: center;
}
